@font-face
  font-family: "BlenderPro-bold"
  src: url('../fonts/BLENDERPRO-BOLD.TTF') format("truetype")

@font-face
  font-family: "BlenderPro-bold-italic"
  src: url('../fonts/BLENDERPRO-BOLDITALIC.TTF') format("truetype")

@font-face
  font-family: "BlenderPro-book"
  src: url('../fonts/BLENDERPRO-BOOK.TTF') format("truetype")

@font-face
  font-family: "BlenderPro-book-italic"
  src: url('../fonts/BLENDERPRO-BOOKITALIC.TTF') format("truetype")

@font-face
  font-family: "BlenderPro-heavy"
  src: url('../fonts/BLENDERPRO-HEAVY.TTF') format("truetype")

@font-face
  font-family: "BlenderPro-medium"
  src: url('../fonts/BLENDERPRO-MEDIUM.TTF') format("truetype")

@font-face
  font-family: "BlenderPro-medium-italic"
  src: url('../fonts/BLENDERPRO-MEDIUMITALIC.TTF') format("truetype")

@font-face
  font-family: "BlenderPro-thin"
  src: url('../fonts/BLENDERPRO-THIN.TTF') format("truetype")

@font-face
  font-family: "BlenderPro-thin-italic"
  src: url('../fonts/BLENDERPRO-THINITALIC.TTF') format("truetype")
